## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [18]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54634,Lauren,Reese,Radio producer,977.877.5272x11382,late_reese_4081@montoya-chavez.org,29043,9021716,2023-04-26,17,2023,UCA28532-31-0B,software,logistics,83.13,51.60,2.25,33,8
54635,Derrick,Moore,Musician,358.661.5483,derrick.moore.2602@pope.info,41908,6290153,2023-02-08,6,2023,EBD29277-23-7U,consumables,kitchen supplies,206.59,175.46,11.70,47,0
54636,Monica,Gutierrez,Graphic designer,294.805.9100x339,gutierrezm3195@morris.org,35176,8692622,2023-03-05,9,2023,EBD30093-55-9Z,consumables,bathroom supplies,65.66,57.31,4.16,475,6
54637,Wanda,Solomon,Toxicologist,(311)767-4924,solomonwanda5962@ross.org,24485,7592730,2023-01-18,3,2023,XMZ38239-49-3D,furniture,stands,1.48,1.22,18.04,112,0
54638,Dwayne,Bell,Chief Financial Officer,606-619-7667x9508,belld@galvan.com,24007,7489403,2023-01-04,1,2023,ZCZ05589-50-5D,software,project management,3.01,1.61,2.07,1031,5

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [4]:
# Use the describe function to gather some basic statistics
df.describe()

,client_id,order_id,order_week,order_year,unit_price,unit_cost,unit_weight,qty,line_number
count,54639.000000,5.463900e+04,54639.000000,54639.000000,54639.000000,54639.000000,54639.000000,5.463900e+04,54639.000000
mean,54837.869416,5.470190e+06,11.359139,2022.993064,136.267207,99.446073,5.004116,5.702646e+02,2.979667
std,25487.438231,2.599807e+06,7.023499,0.082997,183.873135,133.164267,5.326599,1.879552e+04,2.436320
min,10033.000000,1.000886e+06,1.000000,2022.000000,0.010000,0.010000,0.000000,0.000000e+00,0.000000
25%,33593.000000,3.196372e+06,6.000000,2023.000000,20.800000,14.840000,1.450000,3.200000e+01,1.000000
50%,53305.000000,5.496966e+06,11.000000,2023.000000,68.310000,49.890000,3.240000,6.800000e+01,3.000000
75%,78498.000000,7.733869e+06,17.000000,2023.000000,173.160000,125.570000,6.890000,1.700000e+02,5.000000
max,99984.000000,9.998480e+06,52.000000,2023.000000,1396.230000,846.270000,46.430000,3.958244e+06,9.000000

In [5]:
# Use this space to do any additional research
# and familiarize yourself with the data.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [9]:
# What three item categories had the most entries?
top3 = df['category'].value_counts().head(3)
top3

category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [11]:
# For the category with the most entries, which subcategory had the most entries?
topCat = top3.index[0]
df[df['category'] == topCat]['subcategory'].value_counts().head(1)

subcategory
bathroom supplies    6424
Name: count, dtype: int64

In [13]:
# Which five clients had the most entries in the data?
top5_clients = df['client_id'].value_counts().head(5)
top5_clients

client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [16]:
# Store the client ids of those top 5 clients in a list.
top5_clients_list = top5_clients.index.tolist()
top5_clients_list

[33615, 66037, 46820, 38378, 24741]

In [166]:
df[df['client_id']==24741].head(50)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,line_cost,Line_price,line_profit,total_weight
416,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3699423,2023-05-18,20,2023,...,8.17,0.96,65,5,596.05,436.80,967.85,1128.39,160.54,62.40
520,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7980819,2023-05-25,21,2023,...,11.82,0.11,214,2,3513.88,235.40,2764.88,4096.09,1331.21,23.54
671,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,9538464,2023-03-28,13,2023,...,10.21,2.77,30,1,441.90,581.70,888.00,1118.28,230.28,83.10
872,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,2118797,2023-02-05,5,2023,...,1.22,18.04,47,5,69.56,5935.16,5992.50,6560.16,567.66,847.88
1460,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7565274,2023-03-21,12,2023,...,106.94,4.40,284,4,33472.24,8747.20,39118.16,46124.74,7006.58,1249.60
1532,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3335711,2023-04-15,15,2023,...,41.53,12.91,0,0,0.00,0.00,0.00,0.00,0.00,0.00
1611,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,9114777,2023-02-13,7,2023,...,25.17,1.91,109,0,3798.65,1457.33,4200.86,5742.16,1541.30,208.19
1877,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,2118797,2023-02-05,5,2023,...,14.30,2.30,44,4,1253.12,708.40,1337.60,2142.96,805.36,101.20
2221,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3699423,2023-05-18,20,2023,...,157.65,9.13,25,6,5671.75,1597.75,5539.00,7941.93,2402.93,228.25
2267,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5167984,2023-05-08,19,2023,...,401.92,2.50,199,8,103074.04,3482.50,83464.58,116413.02,32948.44,497.50
2415,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,4599608,2023-03-20,12,2023,...,35.41,0.54,17,4,809.03,91.80,693.77,984.16,290.39,9.18
3185,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,2994571,2023-03-03,9,2023,...,372.06,2.35,1148,4,470875.16,18884.60,446009.48,535062.54,89053.06,2697.80
3280,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,4063615,2023-02-24,8,2023,...,49.33,1.29,76,0,4604.84,686.28,4435.36,5780.55,1345.19,98.04
3705,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7553670,2023-04-19,16,2023,...,74.98,0.24,549,0,53176.14,922.32,42086.34,59102.57,17016.23,131.76
3742,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3302546,2023-05-16,20,2023,...,5.19,7.50,53,4,301.57,2782.50,3057.57,3369.35,311.78,397.50
4063,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5167984,2023-05-08,19,2023,...,247.94,1.86,122166,7,56355175.80,1590601.32,31880439.36,63305761.50,31425322.14,227228.76
4759,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5167984,2023-05-08,19,2023,...,100.11,0.09,1050,6,155043.00,661.50,105777.00,170107.17,64330.17,94.50
4898,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5075771,2023-03-07,10,2023,...,34.11,1.88,60,2,2556.00,789.60,2836.20,3655.07,818.87,112.80
4993,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7143788,2023-01-09,2,2023,...,100.11,0.09,88,0,12994.08,79.20,8888.88,14282.56,5393.68,7.92
5330,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,6304553,2023-05-08,19,2023,...,28.61,2.12,794,2,32395.20,11782.96,34499.30,48264.64,13765.34,1683.28
5462,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,2118797,2023-02-05,5,2023,...,18.08,3.50,43,9,1275.38,1053.50,1830.94,2544.30,713.36,150.50
5627,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3931517,2023-03-15,11,2023,...,130.71,4.02,463,0,72945.65,13028.82,73547.55,93927.11,20379.56,1861.26
6139,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7618362,2023-04-05,14,2023,...,23.47,1.15,21,5,521.01,241.50,734.37,833.04,98.67,24.15
6186,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7565274,2023-03-21,12,2023,...,49.89,2.43,113,3,10234.41,1922.13,7559.70,13281.02,5721.32,274.59
6380,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7618362,2023-04-05,14,2023,...,17.36,7.90,25,4,760.50,1382.50,1816.50,2341.23,524.73,197.50
6686,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7922617,2023-03-01,9,2023,...,11.82,0.11,10,4,164.20,11.00,129.20,191.41,62.21,1.10
7010,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,6304553,2023-05-08,19,2023,...,96.24,6.81,57,8,6364.62,2717.19,8202.87,9921.88,1719.01,388.17
7181,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3931517,2023-03-15,11,2023,...,29.50,8.16,31,4,1212.10,1770.72,2685.22,3258.73,573.51,252.96
7210,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,6304553,2023-05-08,19,2023,...,1.22,18.04,155,9,229.40,19573.40,19762.50,21634.56,1872.06,2796.20
7366,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3931517,2023-03-15,11,2023,...,26.84,4.25,514,2,15414.86,15291.50,29087.26,33546.70,4459.44,2184.50
7409,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,9571619,2023-03-29,13,2023,...,3.05,10.46,2318,5,12957.62,169723.96,176793.86,199579.63,22785.77,24246.28
7712,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,3931517,2023-03-15,11,2023,...,126.66,1.45,159,3,22482.60,1613.85,21752.79,26325.37,4572.58,230.55
7735,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5167984,2023-05-08,19,2023,...,16.42,4.42,15,2,396.45,464.10,710.40,940.15,229.75,66.30
8479,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,5075771,2023-03-07,10,2023,...,85.16,2.32,235,0,39907.70,3816.40,23829.00,47768.58,23939.58,545.20
8653,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7618362,2023-04-05,14,2023,...,183.93,9.62,35,1,6990.55,2356.90,8794.45,10212.09,1417.64,336.70
9479,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7922617,2023-03-01,9,2023,...,202.22,7.71,698,2,149874.56,37671.06,178820.62,204893.59,26072.97,5381.58
10176,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,8273349,2023-01-29,4,2023,...,125.04,19.13,55,5,13051.50,7365.05,14242.25,22305.08,8062.83,1052.15
10425,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7565274,2023-03-21,12,2023,...,2.49,0.20,75,0,273.00,150.00,336.75,462.13,125.38,15.00
10460,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,6304553,2023-05-08,19,2023,...,19.58,7.45,127,6,4555.49,6623.05,9109.71,12212.55,3102.84,946.15
10610,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7564612,2023-03-05,9,2023,...,8.82,4.43,54,0,800.28,1674.54,2150.82,2703.74,552.92,239.22
11087,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,9571619,2023-03-29,13,2023,...,26.08,2.52,50,2,1946.00,882.00,2186.00,3089.59,903.59,126.00
11198,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7922617,2023-03-01,9,2023,...,102.19,3.41,68,1,11448.48,1623.16,8572.08,14280.77,5708.69,231.88
12133,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7980819,2023-05-25,21,2023,...,29.10,5.27,529,1,25249.17,19514.81,34908.71,48904.65,13995.94,2787.83
12152,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7922617,2023-03-01,9,2023,...,59.00,0.27,60,3,5031.60,162.00,3702.00,5674.01,1972.01,16.20
12330,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7296615,2023-02-09,6,2023,...,18.25,2.95,360,2,12384.00,7434.00,14004.00,21651.16,7647.16,1062.00
12505,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,6110759,2023-05-01,18,2023,...,1.06,2.24,26,2,39.00,407.68,435.24,488.00,52.76,58.24
12719,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7308294,2023-02-09,6,2023,...,7.45,0.05,57,5,451.44,28.50,453.15,524.33,71.18,2.85
13217,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,7308294,2023-02-09,6,2023,...,147.96,10.93,340,1,78189.80,26013.40,76319.80,113842.00,37522.20,3716.20
13451,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,2999389,2023-01-26,4,2023,...,95.32,12.89,522,2,73889.10,47100.06,96857.10,132180.66,35323.56,6728.58
13470,Kendra,Garrett,Pension scheme manager,808.257.2029,garrettkendra8479@jefferson.com,24741,1886506,2023-05-26,21,2023,...,231.95,1.73,108,1,26520.48,1307.88,26358.48,30402.48,4044.00,186.84

In [17]:
# How many total units (the qty column) did the client with the most entries order order?
most_ent = top5_clients_list[0]

df[df['client_id'] == most_ent]['qty'].sum()

64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [22]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal'] = df['unit_price'] * df['qty']
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number,subtotal
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1,115164.00
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0,523.95
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6,527.28
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3,1056.18
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1,3902.00

In [36]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
# gonna use lambda for this
df['total_weight'] = df['unit_weight'] * df['qty']
df['shipping_price'] = df['total_weight'].apply(lambda x: x * 7 if x>50 else x*10)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,line_cost,Line_price,line_profit,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,5512.50,80159.55,125898.61,45739.06,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,312.90,331.79,588.69,256.90,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,458.64,323.34,594.41,271.07,65.52
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,356.70,732.95,1167.31,434.36,35.67
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,6500.20,2627.70,4770.18,2142.48,928.60

In [53]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['Line_price'] = round((df['subtotal'] + df['shipping_price'])*1.0925,2)
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,line_cost,Line_price,line_profit,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,5512.50,85597.05,131839.08,46242.03,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,312.90,629.79,914.26,284.47,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,458.64,765.18,1077.12,311.94,65.52
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,...,24.85,1.23,29,3,1056.18,356.70,1077.35,1543.57,466.22,35.67
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,...,108.17,46.43,20,1,3902.00,6500.20,8663.60,11364.40,2700.80,928.60

In [54]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).

df['line_cost'] = df['unit_cost'] * df['qty'] + df['shipping_price']
df.head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,line_cost,Line_price,line_profit,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,5512.50,85597.05,131839.08,46242.03,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,312.90,629.79,914.26,284.47,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,458.64,765.18,1077.12,311.94,65.52

In [55]:
# Create a column for the profit of each line using line cost and line price
df['line_profit'] = df['Line_price'] - df['line_cost']
df.head(3)

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,...,unit_cost,unit_weight,qty,line_number,subtotal,shipping_price,line_cost,Line_price,line_profit,total_weight
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,...,762.71,7.50,105,1,115164.00,5512.50,85597.05,131839.08,46242.03,787.50
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,...,15.09,1.49,21,0,523.95,312.90,629.79,914.26,284.47,31.29
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,...,7.86,1.68,39,6,527.28,458.64,765.18,1077.12,311.94,65.52

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [56]:
# Check your work using the totals above
ids = [2742071, 2173913, 6128929]

for id in ids:
     total_price = df[df['order_id'] == id]['Line_price'].sum()
     print(f"Order ID {id} total price: ${total_price:.2f}")

Order ID 2742071 total price: $152811.89
Order ID 2173913 total price: $162388.71
Order ID 6128929 total price: $923441.25

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [59]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
client_spend = {}
for id in top5_clients_list:
    total_price = df[df['client_id'] == id]['Line_price'].sum()
    client_spend[id] = total_price
    print(f"{id}: ${total_price:,.2f}")

33615: $8,377,308.52
66037: $10,259,514.79
46820: $9,743,794.36
38378: $12,906,550.87
24741: $82,268,892.02

In [160]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
client_ids = []
total_units_purchased = []
total_shipping_price = []
total_revenue =[]
total_profit = []

for id in top5_clients_list:
    cleint = df[df['client_id'] == id]
    client_ids.append(id)
    total_units_purchased.append(cleint['qty'].sum())
    total_shipping_price.append(cleint['shipping_price'].sum())
    total_revenue.append(cleint['Line_price'].sum())
    total_profit.append(cleint['line_profit'].sum())

summary_df = pd.DataFrame({ 'client id': client_ids, 'Total Units Purchased': total_units_purchased, 'Total Shipping Price': total_shipping_price,
                           'Total Revenue': total_revenue, 'Total Profit': total_profit})
summary_df

,client id,Total Units Purchased,Total Shipping Price,Total Revenue,Total Profit
0,33615,64313,1828984.89,8377308.52,2201994.61
1,66037,43018,1395151.85,10259514.79,3255031.81
2,46820,75768,1601448.84,9743794.36,2736602.72
3,38378,73667,3429455.40,12906550.87,3271829.89
4,24741,239862,5126448.37,82268892.02,36579992.31

In [161]:
money_columns = summary_df.drop('client id', axis = 1)

In [162]:
# Format the data and rename the columns to names suitable for presentation.
# Define the money columns. 


# Define a function that converts a dollar amount to millions
def currency_format_millions(val):
    return val / 1_000_000
    
summary_df = summary_df.rename(columns=lambda x: x.replace(' (M) (M)', ' (M)'))
# Apply the currency_format_millions function to the money columns and create new columns for the millions format
for column in money_columns:
     if f'{column} (M)' not in summary_df.columns:
        summary_df[f'{column} (M)'] = summary_df[column].apply(currency_format_millions)



# Rename the columns to reflect the change in the money format
summary_df.rename(columns={
    summary_df.columns[0]: 'Client ID',
    summary_df.columns[1]: 'Total Units Purchased (Mills)',
    summary_df.columns[2]: 'Total Shipping Price (Mills)',
    summary_df.columns[3]: 'Total Revenue (Mills)',
    summary_df.columns[4]: 'Total Profit (Mills)'
}, inplace=True)

# Drop the original columns
summary_df

,Client ID,Total Units Purchased (Mills),Total Shipping Price (Mills),Total Revenue (Mills),Total Profit (Mills),Total Units Purchased (M),Total Shipping Price (M),Total Revenue (M),Total Profit (M)
0,33615,64313,1828984.89,8377308.52,2201994.61,0.064313,1.828985,8.377309,2.201995
1,66037,43018,1395151.85,10259514.79,3255031.81,0.043018,1.395152,10.259515,3.255032
2,46820,75768,1601448.84,9743794.36,2736602.72,0.075768,1.601449,9.743794,2.736603
3,38378,73667,3429455.40,12906550.87,3271829.89,0.073667,3.429455,12.906551,3.271830
4,24741,239862,5126448.37,82268892.02,36579992.31,0.239862,5.126448,82.268892,36.579992

In [165]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_df = summary_df.sort_values(by='Total Profit (Mills)', ascending=False)
sorted_df = summary_df = summary_df.iloc[:, :5]
sorted_df

,Client ID,Total Units Purchased (Mills),Total Shipping Price (Mills),Total Revenue (Mills),Total Profit (Mills)
0,33615,64313,1828984.89,8377308.52,2201994.61
1,66037,43018,1395151.85,10259514.79,3255031.81
2,46820,75768,1601448.84,9743794.36,2736602.72
3,38378,73667,3429455.40,12906550.87,3271829.89
4,24741,239862,5126448.37,82268892.02,36579992.31

In [167]:
text = "the top 5 clients appear to have made major contributions to the companys proffit and revenue. Client 24741 Kendra Garrett purchased the most and made to company the most profit. This data shows that these clients have been loyal and the company should mantain these relationships."

In [168]:
print(text)

the top 5 clients appear to have made major contributions to the companys proffit and revenue. Client 24741 Kendra Garrett purchased the most and made to company the most profit. This data shows that these clients have been loyal and the company should mantain these relationships.